.navbar{
    z-index: 1000;
}

.navbar-nav > li {
    position: relative;
}
.navbar-light .navbar-nav .active a::after {
    border-bottom: 3px solid #000;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    margin-bottom: 2px;
}

.slide{
    z-index: 1;
}

.h-100{
    height: 100vh !important;
}

.scrollanimate .hide {
    opacity: 0;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
    overflow: hidden;
}

.scrollanimate .from-left {
    transition: all 0.4s ease-in-out 0s;
    transform: translateX(-40px);
}

.scrollanimate .from-right {
    transition: all 0.4s ease-in-out 0s;
    transform: translateX(40px);
}

.scrollanimate .hide.show {
    opacity: 1;
}

.scrollanimate .show .from-left {
    transform: translateX(0px);
}

.scrollanimate .show .from-right {
    transform: translateX(0px);
}