footer.container-fluid
    .row.justify-content-center.bg-dark.p-5
        .col-10.col-lg-4
            h4 درباره ما
            
        .col-10.col-lg-4
            h4 لینک های مفید
        .col-10.col-lg-4
            h4 ما را در شیکه های اجتماعی دنبال کنید

//This code block for script
script(src="./assets/js/jquery-3.4.1.min.js")
script(src="./assets/js/bootstrap.min.js")
script(src="./assets/js/main.js")
