head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //This is for css block
    link(rel="stylesheet", href="./assets/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="./assets/css/fontawesome.min.css", type="text/css")
    link(rel="stylesheet", href="assets/css/font.css", type="text/css")
    link(rel="stylesheet", href="./assets/css/main.css", type="text/css")
    title گروه امینی