doctype html
html(lang="fa",dir="rtl")
    include header
    body

        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand", href="#") محل لگو شما
            button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarSupportedContent
                ul.navbar-nav.mr-auto.text-right
                    li.nav-item.active
                        a(class="nav-link", href="#") خانه
                            span.sr-only (current)
                    li.nav-item
                        a(class="nav-link", href="#") درباره ما
                    li.nav-item
                        a(class="nav-link", href="#") تماس با ما
                form.form-inline.position-relative
                    input(class="form-control w-100", type="search", placeholder="جستجو", aria-label="Search")
                    button(class="btn btn-link position-absolute", type="submit", style="left:0px;") 
                        i.fas.fa-search

        //Slide show
        include slider

        main(role="main", class="container-fluid")
            

            section.interview
                .row
                    .col-12.col-lg-6
                        .col-6
                            
                        .col-6
                            p.from-left.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, libero molestiae ratione incidunt alias officia eaque obcaecati deserunt esse illum doloremque illo nulla a numquam, ducimus impedit quaerat magnam. Dicta.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum blanditiis quam ducimus fugiat ratione praesentium dolore facere itaque reprehenderit, tempore ut laborum illum est accusamus doloremque recusandae assumenda alias voluptatum.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla consequatur sit mollitia possimus libero est voluptas nemo eum, voluptates tempore hic quibusdam cumque! Debitis earum ex vitae facere reprehenderit!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptates est ex dicta nobis voluptatem quisquam? Voluptates aliquid culpa ut officiis delectus ex facilis odit mollitia harum, fugit distinctio qui.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis corrupti nesciunt dolorem totam, voluptas ducimus ipsa debitis fugiat dolor ab voluptate eveniet eaque cum. Modi saepe aperiam libero laborum cupiditate?
                    .col-12.col-lg-6
                        .col-6
                        .col-6
                            p.from-right.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas fugit, ea in obcaecati totam impedit aliquid repellat porro. Praesentium alias perspiciatis laudantium sit sequi quibusdam ad quidem, dolores eum.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus delectus maiores, soluta distinctio maxime, reiciendis incidunt fugiat hic sequi dolorum illo esse, placeat dolores nemo voluptatem. Quidem natus cumque assumenda.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora velit perferendis dolorum libero, delectus ipsum, animi, recusandae quo dolor debitis blanditiis repellat. Quo nemo doloribus dolores nisi aliquid, magni veniam!
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, velit nostrum. Iusto asperiores laborum soluta assumenda nisi ducimus! Corporis illo est ex, molestias blanditiis rerum provident vero ea voluptatum praesentium.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum nulla officia deserunt, facere assumenda obcaecati? Facere magni optio possimus, at sunt molestias, sapiente corrupti pariatur amet officia voluptas doloribus.


        include footer