doctype html
html(lang="fa",dir="rtl")
    include header
    body

        nav(class="navbar navbar-expand-lg navbar-light shadow")
            a(class="navbar-brand", href="#") محل لگو شما
            button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarSupportedContent
                div.mr-auto
                    form.form-inline.position-relative.my-2.my-lg-0.float-lg-left
                        input(class="form-control w-100", type="search", placeholder="جستجو", aria-label="Search")
                        button(class="btn btn-link position-absolute", type="submit", style="left:0px;") 
                            i.fas.fa-search
                    ul.navbar-nav.mr-auto.text-right.float-lg-right.px-3
                        li.nav-item.active
                            a(class="nav-link", href="#") خانه
                                span.sr-only (current)
                        li.nav-item
                            a(class="nav-link", href="#") درباره ما
                        li.nav-item
                            a(class="nav-link", href="#") تماس با ما

        //Slide show
        include slider

        main(role="main", class="container-fluid")
            

            section.interview.scrollanimate.position-relative
                    .row.justify-content-center
                        .col-4.text-center.mb-3
                            h3.
                                معرفی شرکت های زیر مجموعه
                            hr
                    - for (var i = 1; i < 7; i = i + 2)
                        .row.mb-3
                            .col-12.col-lg-6.hide
                                .row.align-self-start
                                    .col-6
                                        p.from-left.
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, libero molestiae ratione incidunt alias officia eaque obcaecati deserunt esse illum doloremque illo nulla a numquam, ducimus impedit quaerat magnam. Dicta.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum blanditiis quam ducimus fugiat ratione praesentium dolore facere itaque reprehenderit, tempore ut laborum illum est accusamus doloremque recusandae assumenda alias voluptatum.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla consequatur sit mollitia possimus libero est voluptas nemo eum, voluptates tempore hic quibusdam cumque! Debitis earum ex vitae facere reprehenderit!
                                    .col-6
                                        img(src=`./assets/img/logo-${i}.png`, class="img-fluid from-right", alt=`logo${i}`)
                            .col-12.col-lg-6.hide
                                .row.align-self-start
                                    .col-6
                                        p.from-right.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas fugit, ea in obcaecati totam impedit aliquid repellat porro. Praesentium alias perspiciatis laudantium sit sequi quibusdam ad quidem, dolores eum.
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus delectus maiores, soluta distinctio maxime, reiciendis incidunt fugiat hic sequi dolorum illo esse, placeat dolores nemo voluptatem. Quidem natus cumque assumenda.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora velit perferendis dolorum libero, delectus ipsum, animi, recusandae quo dolor debitis blanditiis repellat. Quo nemo doloribus dolores nisi aliquid, magni veniam!
                                    .col-6
                                        img(src=`./assets/img/logo-${i+1}.png`, class="img-fluid from-left", alt=`logo${i}`)


        include footer